@import 'styles/background.scss';
@import 'styles/button.scss';
* {
    font-family: 'Roboto Condensed', sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

input {
    text-align: center;
}

.logo-photo {
    max-width: 484px;
    max-height: 115px;

}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

#second-page {
    min-height: 80vh;
}



.form-container {

    padding: 150px;
    //border: .1px solid rgb(144, 144, 144);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

body {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

.pred-container {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(2px);
    padding: 50px 300px;

    border: .1px solid rgb(144, 144, 144);
    margin-bottom: 15px;
    border-radius: 10px;

}

.pred-container h1, h2 {
    font-weight: bold;
    color: #608fbd;
}

.heading {
    text-align: center;
    font-weight: bold;
    color: #618ebd;
}



textarea {
    display: block;
    height: 100px;
    width: 400px;
    text-align: center;
    border-radius: 5px;
    border: .1px solid rgb(144, 144, 144);

}

.input-form {
    margin: 4px;
    border-radius: 50px;
    border: .1px solid rgb(144, 144, 144);

}


.text-box {
    margin: 10px auto;
}

#search-button {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.button-container {
    display: flex;
    justify-content: right;
    width: 170%;
}

a#return-button {
    height: 45px;
    float: right;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 20px;
}

#category-product {
    width: 300px;
}

#root > div > div {
}



.table-container {
    display:flex;
    justify-content: center;
    margin: 15px;
}

table {
    max-width: 80%;
}

#title {
    text-align: center;
    font-family: arial, sans-serif;
}

#categories {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}

#categories td, #categories th {
    border: 1px solid #ddd;
    padding: 8px;
}

#categories tr:nth-child(even){background-color: #f2f2f2;}

#categories tr:hover {background-color: #ddd;}

#categories th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #787878;
    color: white;
}

table {

}